<% content_for(:title_tag) do  %>
  frida - edit <%= @lecture.title.downcase %>
<% end %>

<div class="lectures-banner-title">
<p>Jouw curriculum</p>
  <h2>Wijzig <%= @lecture.title %></h2>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <%= simple_form_for @lecture, class: 'form-inline' do |f| %>
      <%= f.input :title, label: "Titel" %>
      <%= f.input :description, label: "Omschrijving" %>
      <%= f.file_field :video%>
       <p class="button-button-text"><button type="button" class="btn upload_video_button" onclick="document.getElementById('lecture_video').click();"><p class="button-button-text"> Upload een video </p></button>
      <span class="new_video_upload"></span>
       <br>
      <%= f.submit "Opslaan", class: "btn btn-frida" %>
      <% end %>
      <%= link_to "Terug naar het programma", course_path(@lecture.course)  %>
    </div>
  </div>
</div>
