<% content_for(:title_tag) do  %>
  frida - edit <%= @lecture.title.downcase %>
<% end %>

<div class="lectures-banner-title">
<p>Jouw curriculum</p>
  <h2>Wijzig <%= @lecture.title %></h2>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <%= simple_form_for @lecture, class: 'form-inline' do |f| %>
      <%= f.input :title, label: "Titel" %>
      <%= f.input :description, label: "Omschrijving" %>
      <%= f.input :url %>
      <%= f.file_field :video%>
      <%= f.submit "Opslaan", class: "btn btn-frida" %>
      <% end %>
      <%= link_to "Terug naar het programma", course_path(@lecture.course)  %>
    </div>
  </div>
</div>
