<% content_for(:title_tag) do  %>
  frida - new lecture for <%= @course.name.downcase %>
<% end %>

<div class="lectures-banner-title">
  <p>Jouw Curriculum</p>
  <h2>Voeg een les toe</h2>
</div>

<div class="container lecture-form">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= simple_form_for [@course, @lecture], class: 'form-inline' do |f| %>
      <%= f.input :title, label: "Titel", placeholder: 'Wat is the titel van deze les?' %>
      <%= f.input :description, label: "Omschrijving", placeholder: 'Wat is de omschrijving van deze les?' %>
      <%= f.input :url, placeholder: 'Wat is de link naar de les?' %>
      <%= f.submit "Opslaan", class: "btn btn-frida" %>
      <% end %>
    </div>
  </div>
</div>
