<% content_for(:title_tag) do  %>
  frida - new lecture for <%= @course.name.downcase %>
<% end %>

<div class="lectures-banner-title">
  <p>Jouw Curriculum</p>
  <h2>Voeg een les toe</h2>
</div>

<div class="container lecture-form">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= simple_form_for [@course, @lecture], class: 'form-inline' do |f| %>
      <%= f.input :title, label: "Titel", placeholder: 'Wat is the titel van deze les?' %>
      <%= f.input :description, label: "Omschrijving", placeholder: 'Wat is de omschrijving van deze les?' %>
      <%= f.file_field :video %>
      <p class="button-button-text"><button type="button" class="btn upload_video_button" onclick="document.getElementById('lecture_video').click();"><p class="button-button-text"> Upload een video </p></button>
      <span class="new_video_upload"></span>
       <br>
      <%= f.submit "Opslaan", class: "btn btn-frida" %>
      <% end %>
    </div>
  </div>
</div>
