<% if @user.first_name %>
  <% content_for(:title_tag) do  %>
    frida - manage <%= current_user.full_name %>'s courses
  <% end %>
<% end %>

<%= render 'shared/subnav' %>
<% if current_user.teacher == false %>
  <div class="container">
    <div class="manage-courses-msg">
      <h3>Hey <%= @user.first_name %>!</h3>
      <h4>Stuur ons een mailtje XX als je ook graag les wilt geven! </h4>
      <h4>– Team Frida</h4>
    </div>
  </div>
<% elsif current_user.teacher %>
  <div class="container user-show">
    <div class="row">
      <div class="col-lg-3 col-md-4 hide-sm" id="sticky">
        <div class="user-side-bar">
  <!--         <div class="user-side-img">
            <%# unique_image_tag(@user, :width=>200, :height=>200, :gravity=>"face", :radius=>"max", :crop=>"fill") %>
          </div> -->

        <div class="manage-side-bar">
          <%= link_to "Maak een nieuw programma", new_course_path(@user), class:"btn btn-frida" %>
        </div>
      </div>
    </div>
      <div class="col-lg-9 col-md-8 col-sm-12">
        <h2>Beheer jouw programmas</h2>
        <h4>Hey <%= @user.first_name %>! Beheer al je programmas hier. Bekijk het werk van je studenten en geef ze feedback. Heb je nog veel meer kennis die je wilt delen? Maak een nieuw programma aan!</h4>
          <div class="hr-medium">
            <hr>
          </div>
            <div class="courses-created">
              <h3>Jouw programmas</h3>
              <% @courses.each do |c| %>
                <div class="course-card-manager">
                  <%= link_to course_path(c) do %>
                    <div class="course-card-img" style="background-image: url('<%= cl_image_path c.photo.path, crop: :fill %>'); width: 225px">
                    </div>
                    <% end %>
                    <div class="course-card-content">
                      <h3><%= link_to c.name, course_path(c), class: "action-links" %></h3>

                      <h4>Je hebt <b><%= pluralize(c.lectures.count, "les") %></b> and <b><%= pluralize c.participations.count, "student" %></b> in dit programma.</h4>

                      <h4><b><%= pluralize @user.student_artworks.where(lectures: { course_id: c } ).count, "kunstwerk" %></b> <%= @user.student_artworks.where(lectures: { course_id: c } ).count == 1 ? 'is' : 'zijn' %> geupload voor dit programma.</h4>
                      <hr>
                      <div class="course-card-links">
                        <p><%= link_to "Wijzig programma", edit_course_path(c), class: "action-links" %></p>
                        <p><%= link_to "Voeg een les toe", new_course_lecture_path(c), class: "action-links" %></p>
                        <p><%= link_to "Geef feedback", give_feedback_path, class: "action-links"  %></p>
                      </div>
                    </div>
                </div>
            <% end %>
          </div>
      </div>
    </div>
  </div>
<% end %>
