<%= simple_form_for @course, class: 'form-inline' do |f| %>
  <%= f.input :name, label: "Naam", placeholder: 'Wat is de titel van het programma?' %>
  <%= f.input :category, label: "Categorie", collection: ["Portrait", "Landscape", "Conceptual", "Modern", "Traditional", "Cubism", "Expressionism", "Surrealism", "Abstract", "Acryllic", "Sand Painting", "Digital", "Watercolour"], placeholder: 'e.g. portraits, landscapes, etc.' %>
  <%= f.input :duration, label: 'Duur (in uren)', placeholder: 'Hoe lang (in uren) duurt het om het programma te volgen?' %>
  <%= f.input :price, placeholder: 'Wat is de prijs van het programma in €?' %>
  <%= f.input :materials, label: 'Materialen', placeholder: 'Welke materialen zijn er nodig?' %>
  <%= f.input :description, label: "Omschrijving", placeholder: 'Hoe omschrijf je het programma?' %>
  <%= f.input :difficulty, label: "Niveau", collection: ["Beginner", "Gemiddeld", "Gevorderd"], placeholder: 'Wat is het niveau?' %>
  <div class="input-group">
    <i class="fa fa-upload" aria-hidden="true"></i>
    <p>Upload een inspirerende omslagfoto</p>
    <%= f.input :photo, as: :attachinary, label: 'Upload een foto...', input_html: { class: 'course_photo_upload' }, label_html: { class: 'course_photo_upload_label' } %>
  </div>

  <%= f.submit "Opslaan", class: "btn btn-frida" %>
<% end %>
