<% if @course.user.first_name && @course.name %>
  <% content_for(:title_tag) do  %>
    frida - <%= @course.name.downcase %> course by <%= @course.user.full_name %>
  <% end %>
<% else %>
  <% content_for(:title_tag) do  %>
    frida - <%= @course.name.downcase %>
  <% end %>
<% end %>

<div class="container">
  <div class="banner banner-course-image" style="background-image: url('<%= cl_image_path @course.photo? ? @course.photo.path : 'logo.png', crop: :fill %>');">
    <% if user_signed_in? %>
    <% current_user.participations.each do |participation| %>
    <% if participation.course == @course %>
    <input type="button", id="button", class="btn btn-frida", value="Ga naar lessen"/>
    <% end %>
    <% end %>
    <% end %>
  </div>
</div>

<div class="container user-show">
  <div class="row">
    <div class="col-lg-3 col-md-4 hide-sm" id="sticky">
      <div class="course-side-bar">
        <div class="course-side-info">
          <h3>Prijs: <%= humanized_money_with_symbol(@course.price) %></h3>
          <p><%= @course.duration %> uur aan videos </p>
          <div class="course-side-btn">
            <% if user_signed_in? %>
              <% if @course.user == current_user %>
                  <% if @course.published == false %>
                <%= link_to "Wijzig", edit_course_path(@course), class: "btn btn-frida btn-teacher" %>
                <% end %>
                <%= link_to "Verwijder", course_path(@course), method: :delete, class: "btn btn-frida btn-teacher" %>
              <% elsif current_user.participates_to?(@course) && @course.price_pennies > 0  %>
                Je hebt dit programma gekocht
              <% elsif current_user.participates_to?(@course) && @course.price_pennies.zero?  %>
                Je bent ingeschreven voor dit programma
              <% else %>
                <%= render 'courses/shared/bookcoursebutton' %>
              <% end %>
            <% else %>
              <%= render 'courses/shared/bookcoursebutton' %>
            <% end %>
              <div class="course-rating-show">
              <p>
              <% if @course.course_reviews == [] %>
                Nog geen recensies!
              <% else %>
                <% @course.average_rating.times do |rating| %>
                  <i class="fa fa-heart" aria-hidden="true"></i>
                <% end %>
                <% (5 - @course.average_rating).times do |rating| %>
                  <i class="fa fa-heart-o" aria-hidden="true"></i>
                <% end %>
                <%= pluralize @course.course_reviews.count, "recensie" %>
              <% end %>
              </p>
              </div>
            <br>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-9 col-md-8 col-sm-12">
      <div class="course-right-column">
        <div class="course-intro">
          <h2><%= @course.name %></h2>
          <p><%= @course.description %></p>
          <hr>
        </div>
        <div id="button-scroll"></div>
        <div class="course-banner-title">
          <p>curriculum</p>
          <h2>Lessen</h2>
        </div>
        <div class="lectures-list">
          <%= render 'lectures-tabs', locals: {course: @course} %>
        </div>
        <div class="course-banner-title" id="course-banner-title-padding">
          <p>benodigdheden</p>
          <h2>Materialen</h2>
        </div>
        <div class="materials-list">
          <p><%= @course.materials %></p>
        </div>
        <div class="course-banner-title">
          <p>ontmoet de artiest</p>
          <h2>Jouw creatieve instructeur</h2>
        </div>
        <div class="artist-profile">
          <div class="artist-first-row">
            <div class="artist-img">
              <%= unique_image_tag(@course.user) %>
            </div>
            <div class="artist-bio">
              <h2><%= @course.user.full_name %></h2>
              <p><%= @course.user.biodata %></p>

              <div class="artist-socials">
              <% if @course.user.facebook != nil %>
                  <%= link_to '<i class="fa fa-facebook"></i>'.html_safe, @course.user.facebook, target: :_blank %>
              <% end %>
              <% if @course.user.twitter != nil %>
              <%= link_to '<i class="fa fa-twitter"></i>'.html_safe, @course.user.twitter, target: :_blank %>
              <% end %>
              <% if  @course.user.instagram != nil %>
              <%= link_to '<i class="fa fa-instagram"></i>'.html_safe, @course.user.instagram, target: :_blank %>
              <% end %>
              <% if @course.user.dribbble != nil %>
              <%= link_to '<i class="fa fa-dribbble"></i>'.html_safe, @course.user.dribbble, target: :_blank %>
              <% end %>
              <% if @course.user.github != nil %>
               <%= link_to '<i class="fa fa-github-alt"></i>'.html_safe, @course.user.github, target: :_blank %>
               <% end %>
              </div>
              <hr>
              <p>Heb je vragen over het programma?</p>
              <%= mail_to @course.user.email, "Mail #{@course.user.first_name}", class: "btn btn-frida" %>
            </div>
          </div>
        </div>
        <div class="course-banner-title">
          <p>zij gingen je voor</p>
          <h2>Recensies</h2>
        </div>
          <div class="average-rating-show">
            <% if @course.average_rating > 0 %>
            <h3>Average User Rating:</h3>
            <p>
              <% @course.average_rating.times do |rating| %>
              <i class="fa fa-heart" aria-hidden="true"></i>
              <% end %>
              <% (5 - @course.average_rating).times do %>
              <i class="fa fa-heart-o" aria-hidden="true"></i>
              <% end %>
            </p>
            <% else %>
            <p>Nog geen recensies!</p>
            <% end %>
            </div>

            <div class="course-reviews">
              <% @course.course_reviews.each do |r| %>
              <p>
                <%= r.user.full_name %> zegt:
                <% r.rating.times do %>
                <i class="fa fa-heart" aria-hidden="true"></i>
                <% end %>
                <% (5 - r.rating).times do %>
                <i class="fa fa-heart-o" aria-hidden="true"></i>
                <% end %>
              </p>
              <p class="review-content"><%= r.content %></p>
              <hr>
              <% end %>
            </div>

            <% if user_signed_in? %>
            <% current_user.participations.each do |participation| %>
            <% if participation.course == @course %>
            <div class="course_review_form">
              <h3>Voeg een recensie toe!</h3>
              <%= simple_form_for [@course, @course_review], remote: true, class: 'form-inline' do |f| %>
              <%= f.input :rating, collection: 1..5, input_html: {class: "course-review-input"} %>
              <%= f.input :content, label: 'Recensie', as: :text, input_html: {class: "course-review-input"} %>
              <%= f.submit "Versturen", class: "btn btn-frida" %>
              <% end %>
              <% end %>
            </div>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<% content_for :meta_title, @course.name %>
<% content_for :meta_description, @course.description %>
<% if @course.photo %>
<% content_for :meta_image, cloudinary_url(@course.photo.path) %>
<% end %>

